[submodule "alacritty/alacritty-theme"]
	path = alacritty/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:TardyPurcell/kickstart.nvim.git
